<!-- Your file/folder structure MUST be set up this way for Handlebars.js to work correctly. You will always have a main layout located at (and named) views/layouts/main.handlebars. All other template files will go directly in the views folder (views/welcome.handlebars). -->

<ol class="post-list">
    <!-- Note the use of {{#each}} to begin the loop and {{/each}} to define where it ends. Any HTML code in between (e.g., the <li> element) will be repeated for every item in posts -->

    {{#each posts as |post|}}
    <li>
        <ol class="post-list">
            {{#each posts as |post|}}
            <li>
                <!-- to use a partial, all we need is the > character, followed by the name of the partial file and the object we'll pass to the partial -->
                {{> post-info post }}
            </li>
            {{/each}}
        </ol>
    </li>
    {{/each}}
</ol>